{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.xn--lgc/pure-conditioning {:git/url "https://github.com/pangloss/pure-conditioning"
                                       :sha "f605800bcbdf80a408c60d8e60bb6cd8222f17c6"
                                       #_#_
                                       :local/root "../pure-conditioning"}
        com.xn--lgc/fermor {:git/url "https://github.com/pangloss/fermor"
                            :sha "f2164ae4de395ea1853adebb8286118d645531a5"}
        org.clojure/core.memoize {:mvn/version "1.0.236"}

        uncomplicate/fluokitten {:mvn/version "0.9.1"}
        potemkin/potemkin {:mvn/version "0.4.5"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "matches.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "matches.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "matches.jar"}}}}
