{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        horse.no/pure-conditioning {:git/url "https://github.com/pangloss/pure-conditioning"
                                    :sha "f605800bcbdf80a408c60d8e60bb6cd8222f17c6"}
        horse.no/fermor {:git/url "https://github.com/pangloss/fermor"
                         :sha "922c6e6aebfe41bad307aeda245b43ee63da586b"}
        horse.no/genera {:git/url "https://github.com/pangloss/genera"
                         :sha "184cd72cd7833084636e73d104eb326d7f9e4642"}
        diffit/diffit {:mvn/version "1.0.0"}
        uncomplicate/fluokitten {:mvn/version "0.9.1"}
        potemkin/potemkin {:mvn/version "0.4.5"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :repl {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "2.2.114"}
                      com.github.jpmonettas/flow-storm-inst {:mvn/version "2.2.114"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "pattern.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "pattern.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "pattern.jar"}}
  :dev/dw {:replace-deps {horse.no/genera {:local/root "../genera"}
                          horse.no/fermor {:local/root "../fermor"}}}}}
